In [4]:
# Capital Budget

import pandas as pd

df = pd.read_csv("data/capital_budget/df.csv")
df2 = pd.read_csv("data/capital_budget/df2.csv")
df_budget_per_department_per_neighborhood = pd.read_csv("data/capital_budget/df_budget_per_department_per_neighborhood.csv")
df_budget_per_neighborhood = pd.read_csv("data/capital_budget/df_budget_per_neighborhood.csv")
df_operating_budget = pd.read_csv("data/capital_budget/df_operating_budget.csv")
df_operating_budget_total = pd.read_csv("data/capital_budget/df_operating_budget_total.csv")
df_revenue_budget = pd.read_csv("data/capital_budget/df_revenue_budget.csv")
df_revenue_budget_total = pd.read_csv("data/capital_budget/df_revenue_budget_total.csv")

In [5]:
# Rental Relief Fund

rrf1 = pd.read_csv("data/RRF/RRF10-20_03-21.csv")
rrf2 = pd.read_csv("data/RRF/RRF04-21_09-21.csv")

In [9]:
# Business Licenses

df_cannabis = pd.read_csv("data/ /df_cannabis.csv")
df_food = pd.read_csv("data/business_licenses/df_food.csv")
df_licensing = pd.read_csv("data/business_licenses/df_licensing.csv")
df_liquor = pd.read_csv("data/business_licenses/df_liquor.csv")

In [67]:
df_liquor['zip'].value_counts()

02116    145
02128    131
02210     89
02113     89
02127     79
02215     75
02111     74
02118     71
02114     64
02115     55
02109     54
02134     54
02135     50
02110     49
02108     45
02130     41
02124     37
02125     37
02131     32
02132     28
02129     26
02119     24
02122     24
02136     19
02199     15
02120     14
02126     11
02121      8
02467      4
           1
02163      1
Name: zip, dtype: int64

In [10]:
# Demographics

demographics = pd.read_csv("data/demographics/df_neighborhoods.csv")

In [18]:
demographics = demographics.drop("Unnamed: 0", axis = 1).reset_index(drop = True)

In [ ]:
rrf1 = rrf1.drop("Unnamed: 0", axis = 1).reset_index(drop = True)

In [22]:
rrf1['original_zip'] = rrf1['original_zip'].map(lambda x: "0" + str(x))

,id,original_zip,match_kind,state_code,county_code,tract_code,block_code,RRF Award Amount,No of months of assistance,Rent owing,RRF Award Type,Mthly Self Employment,Mthly Unemployment,Mthly Interest or Dividend,Mthly Pension or Retirement,Mthly TANF/Public Assistance,Mthly Alimony income,Mthly Armed Forces income,Mthly Other income
0,7,02119,Exact,25,25,81400,3003,6000.00,0.0,9444.00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8,02124,Exact,25,25,100300,3005,5700.00,3.0,1900.00,Arrears & Future payments,0.0,2140.0,0.0,0.0,0.0,0.0,0.0,0.0
2,56,02119,Exact,25,25,80100,1051,3750.00,6.0,4375.00,Arrears,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,63,02128,Exact,25,25,51200,3000,4000.00,1.0,4000.00,Arrears & Future payments,0.0,0.0,0.0,0.0,0.0,530.0,0.0,0.0
4,75,02128,Exact,25,25,50101,3001,6000.00,0.0,7900.00,Arrears,800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,9192,02113,0,25,25,30400,3003,4000.00,0.0,4797.39,0,0.0,1000.0,0.0,0.0,0.0,0.0,0.0,0.0
749,9219,02127,0,25,25,60501,3003,2032.07,1.0,1990.00,Arrears,0.0,2300.0,0.0,0.0,0.0,0.0,0.0,0.0
750,9419,02128,0,25,25,50600,2007,4000.00,4.0,0.00,Arrears,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
751,9446,02120,0,25,25,81102,1001,6000.00,4.0,1500.00,Future payments,0.0,300.0,0.0,0.0,0.0,0.0,0.0,0.0
752,9508,02130,0,25,25,110105,1015,4000.00,3.0,3807.50,0,0.0,1352.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
rrf1['original_zip'].value_counts()

02128    181
02124     82
02125     52
02119     49
02122     46
02121     43
02136     37
02126     36
02135     31
02131     23
02111     22
02130     22
02134     21
02118     15
02132     15
02127     14
02129     13
02115      9
02215      9
02114      8
02113      6
02116      5
02109      5
02108      3
02120      3
02210      1
02199      1
02467      1
Name: original_zip, dtype: int64

In [39]:
cities_zips = list(zip(df_food['CITY'], df_food['ZIP']))
# cities_zips
zipdict = {}
for a, b in cities_zips:
    zipdict.setdefault(b, []).append(a)
for i in zipdict:
    zipdict[i] = max(set(zipdict[i]))

In [41]:
zipdict.pop(" ")
zipdict

{'02132': 'westroxbury',
 '02110': 'financialdistrict',
 '02130': 'roslindale',
 '02116': 'roxbury',
 '02125': 'dorchester',
 '02135': 'brighton',
 '02129': 'charlestown',
 '02111': 'downtownfinancialdistrict',
 '02108': 'boston',
 '02136': 'hydepark',
 '02109': 'boston',
 '02114': 'roxbury',
 '02115': 'roxbury',
 '02210': 'southboston',
 '02131': 'roslindale',
 '02134': 'brighton',
 '02120': 'roxbury',
 '02118': 'southend',
 '02467': 'westroxbury',
 '02122': 'dorchester',
 '02128': 'eastboston',
 '02215': 'boston',
 '02113': 'boston',
 '02127': 'southboston',
 '02126': 'mattapan',
 '02199': 'boston',
 '02119': 'roxbury',
 '02124': 'dorchester',
 '02163': 'boston',
 '02121': 'dorchester',
 '02117': 'boston',
 '02140': 'jamaicaplain',
 '02148': 'eastboston',
 '02201': 'boston',
 '02203': 'boston'}

In [46]:
rrf1['city'] = rrf1['original_zip'].map(lambda x: zipdict[x])
rrf1['city'].value_counts()

dorchester                   223
eastboston                   181
roxbury                       74
brighton                      52
roslindale                    45
hydepark                      37
mattapan                      36
boston                        24
downtownfinancialdistrict     22
westroxbury                   16
southboston                   15
southend                      15
charlestown                   13
Name: city, dtype: int64

In [47]:
rrf1

,id,original_zip,match_kind,state_code,county_code,tract_code,block_code,RRF Award Amount,No of months of assistance,Rent owing,RRF Award Type,Mthly Self Employment,Mthly Unemployment,Mthly Interest or Dividend,Mthly Pension or Retirement,Mthly TANF/Public Assistance,Mthly Alimony income,Mthly Armed Forces income,Mthly Other income,city
0,7,02119,Exact,25,25,81400,3003,6000.00,0.0,9444.00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,roxbury
1,8,02124,Exact,25,25,100300,3005,5700.00,3.0,1900.00,Arrears & Future payments,0.0,2140.0,0.0,0.0,0.0,0.0,0.0,0.0,dorchester
2,56,02119,Exact,25,25,80100,1051,3750.00,6.0,4375.00,Arrears,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,roxbury
3,63,02128,Exact,25,25,51200,3000,4000.00,1.0,4000.00,Arrears & Future payments,0.0,0.0,0.0,0.0,0.0,530.0,0.0,0.0,eastboston
4,75,02128,Exact,25,25,50101,3001,6000.00,0.0,7900.00,Arrears,800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,eastboston
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,9192,02113,0,25,25,30400,3003,4000.00,0.0,4797.39,0,0.0,1000.0,0.0,0.0,0.0,0.0,0.0,0.0,boston
749,9219,02127,0,25,25,60501,3003,2032.07,1.0,1990.00,Arrears,0.0,2300.0,0.0,0.0,0.0,0.0,0.0,0.0,southboston
750,9419,02128,0,25,25,50600,2007,4000.00,4.0,0.00,Arrears,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,eastboston
751,9446,02120,0,25,25,81102,1001,6000.00,4.0,1500.00,Future payments,0.0,300.0,0.0,0.0,0.0,0.0,0.0,0.0,roxbury
752,9508,02130,0,25,25,110105,1015,4000.00,3.0,3807.50,0,0.0,1352.0,0.0,0.0,0.0,0.0,0.0,0.0,roslindale

In [48]:
rrf2 = rrf2.drop("Unnamed: 0", axis = 1).reset_index(drop = True)

In [49]:
rrf2

,id,original_zip,match,match_kind,state_code,county_code,tract_code,block_code,Rental Relief Fund: How much rent do you owe due to COVID-19,Rental Relief Fund: How much do you owe on utilities listed?,Rental Relief Fund: Total Monthly Income all sources,Rental Relief Gap,Months of Assistance Awarded,Date of Final Decision,Utility Payments - Amount obtained (),Future Stipend - Amount obtained (),Rental Arrears - Amount obtained (),Moving Costs - Amount obtained (),Total RRF Award
0,161733,2121,Match,Non_Exact,25.0,25.0,10802.0,2001.0,0.00,0.00,0,0,July-21; August-21; September-21; October-21; ...,0,197.88,6000.0,2000.00,0.0,8197.88
1,161811,2124,Match,Non_Exact,25.0,25.0,701.0,3010.0,3200.00,299.11,1203,3499.11,21-Apr,4/7/2021,0.00,0.0,3200.00,0.0,3200.00
2,161824,2126,Match,Non_Exact,25.0,25.0,92400.0,4001.0,0.00,1724.21,794,1724.21,0,0,1500.00,0.0,0.00,0.0,1500.00
3,161837,2128,Match,Non_Exact,25.0,25.0,10802.0,2003.0,30600.00,0.00,1000,30600,May-21; June-21; July-21; August-21; September-21,0,0.00,0.0,15000.00,0.0,15000.00
4,161839,2128,No_Match,0,0.0,0.0,50700.0,1001.0,1501.00,0.00,1192,1501,September-21; October-21; November-21,8/17/2021,0.00,4500.0,1501.00,0.0,6001.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,169344,2128,Match,Exact,25.0,25.0,50700.0,3000.0,1439.00,410.00,1074,1849,September-21; October-21; November-21; Decembe...,0,410.00,4317.0,4317.00,0.0,9044.00
1404,169757,2136,Match,Exact,25.0,25.0,140107.0,1005.0,0.00,538.00,3866.28,538,September-20; October-20,0,538.01,0.0,0.00,0.0,538.01
1405,169786,2121,Match,Non_Exact,25.0,25.0,100300.0,3008.0,0.00,0.00,0,0,October-21; November-21; December-21; January-...,0,0.00,1098.0,0.00,0.0,1098.00
1406,169864,2120,Match,Exact,25.0,25.0,80801.0,2005.0,1440.00,16975.00,1223,18415,21-Oct,0,2000.00,0.0,0.00,0.0,2000.00
1407,170065,2135,Match,Exact,25.0,25.0,603.0,1000.0,7849.16,0.00,3600,7849.16,September-20; October-20; November-20; Decembe...,0,0.00,3876.0,9141.16,0.0,13017.16

In [50]:
rrf2['original_zip'] = rrf2['original_zip'].map(lambda x: "0" + str(x))
rrf2

,id,original_zip,match,match_kind,state_code,county_code,tract_code,block_code,Rental Relief Fund: How much rent do you owe due to COVID-19,Rental Relief Fund: How much do you owe on utilities listed?,Rental Relief Fund: Total Monthly Income all sources,Rental Relief Gap,Months of Assistance Awarded,Date of Final Decision,Utility Payments - Amount obtained (),Future Stipend - Amount obtained (),Rental Arrears - Amount obtained (),Moving Costs - Amount obtained (),Total RRF Award
0,161733,02121,Match,Non_Exact,25.0,25.0,10802.0,2001.0,0.00,0.00,0,0,July-21; August-21; September-21; October-21; ...,0,197.88,6000.0,2000.00,0.0,8197.88
1,161811,02124,Match,Non_Exact,25.0,25.0,701.0,3010.0,3200.00,299.11,1203,3499.11,21-Apr,4/7/2021,0.00,0.0,3200.00,0.0,3200.00
2,161824,02126,Match,Non_Exact,25.0,25.0,92400.0,4001.0,0.00,1724.21,794,1724.21,0,0,1500.00,0.0,0.00,0.0,1500.00
3,161837,02128,Match,Non_Exact,25.0,25.0,10802.0,2003.0,30600.00,0.00,1000,30600,May-21; June-21; July-21; August-21; September-21,0,0.00,0.0,15000.00,0.0,15000.00
4,161839,02128,No_Match,0,0.0,0.0,50700.0,1001.0,1501.00,0.00,1192,1501,September-21; October-21; November-21,8/17/2021,0.00,4500.0,1501.00,0.0,6001.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,169344,02128,Match,Exact,25.0,25.0,50700.0,3000.0,1439.00,410.00,1074,1849,September-21; October-21; November-21; Decembe...,0,410.00,4317.0,4317.00,0.0,9044.00
1404,169757,02136,Match,Exact,25.0,25.0,140107.0,1005.0,0.00,538.00,3866.28,538,September-20; October-20,0,538.01,0.0,0.00,0.0,538.01
1405,169786,02121,Match,Non_Exact,25.0,25.0,100300.0,3008.0,0.00,0.00,0,0,October-21; November-21; December-21; January-...,0,0.00,1098.0,0.00,0.0,1098.00
1406,169864,02120,Match,Exact,25.0,25.0,80801.0,2005.0,1440.00,16975.00,1223,18415,21-Oct,0,2000.00,0.0,0.00,0.0,2000.00
1407,170065,02135,Match,Exact,25.0,25.0,603.0,1000.0,7849.16,0.00,3600,7849.16,September-20; October-20; November-20; Decembe...,0,0.00,3876.0,9141.16,0.0,13017.16

In [75]:
rrf2['city'] = rrf2['original_zip'].map(lambda x: zipdict[x] if x in zipdict.keys() else "Not Found")
rrf2['city'].value_counts()

dorchester                   519
roxbury                      188
eastboston                   171
roslindale                   104
hydepark                      95
brighton                      75
mattapan                      74
southend                      36
westroxbury                   35
boston                        33
southboston                   33
downtownfinancialdistrict     31
charlestown                   12
Not Found                      1
financialdistrict              1
Name: city, dtype: int64